html
{
  margin: 0;
  padding: 0;
}

body
{
  text-align: center;
  font-family: Consolas, monospace;
  background-color: #90822c;
  color: white;
  margin: 0;
  padding: 0;
}

h2 {
  color: white;
}

#header
{
  margin-top: 0;
  background-color: black;
  text-align:left;
  font-size: 3em;
}

#animation {
  width: 580px;
  height: 700px;
  background-color: white;
}

.interactionArea
{
  display: flex;
  align-items: horizontal;
  margin: 20px;
  justify-content: center;
  background: black;
}

.interactionElement {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}

.titleSubelement {
  margin: 30px;
  width: 130px;
  height: 70px;
  background-color: black;
}

.animationSubelement {
  margin: 30px;
  width: 130px;
  height: 130px;
  margin-top: 400px;
}

.distinctButton
{
    width:200px;
    height:150px;
    background-color: #A035B3;
    border: none;
    transition: 0.3s;
    color: white;
    font-size: 2em;
    margin: 20px;

    font-family: Consolas, monospace;
}

.distinctButton:hover
{
  background-color: #B045C3;
}
